img {
    margin-left: 10px;
    width: 70px;
}

.total {
    font-size: 24;
    font-weight: 900;
}

a:link {
    color: black;
    text-decoration: underline;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: hotpink;
  }
  
